.calculator {
  width: 220px;
  margin: 0 auto;
  border: none;
  border-radius: 15px;
  padding: 10px;
  background-color: #92fe04;
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-gap: 5px;
}

input[type="button"] {
  width: 50px;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: #08f4b9;
  color: rgb(0, 212, 245);
}

input[type="text"] {
  grid-column: span 4;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #fb0071;
  border-radius: 15px;
}
